{% extends 'blog/base.html' %}

{% block body_block %}
<h1 class='head2 text-center' style="color:yellow"> <b> Christ College of Engineering Blog(CCE BLOG)</b></h1>
<h3> <p>
    <br>
CCE BLOG is a place exclusively for Christ College of Engineering students and faculties to share their creative contents. 
 During this lockdown period everyone is feeling bored 😐 and opting social media platforms to kill time ⏳.
 Everyone including me have gone through such situation, then I came up with this idea which helps students and faculties
  to add up their productive time and utilize it for making and sharing creative contents✨.
<br> <br>
<u> <b> Top tips for successful blogging</b></u>
<br><br>
<i>1. Make a plan of blog content</i> <br><br>
Including when you're going to post and what. This will help you to keep track of your content, insert any new ideas and allow you to be completely responsive to the current mood and what's happening – things are changing daily!
<br><br>
<i>2. Post regularly and often!</i><br><br>
We're thirsty for new online content. But remember that quality trumps quantity. Focus on good quality content that will really resonate with people rather than churning out posts for the sake of it.
<br><br>
<i>3. Keep your blogs concise and easy to read</i><br><br>
Use headings, key phrases and words in your blog that people would typically use to find the content you have.
</p></h3>
{% endblock %}